.trash { color:rgb(209, 91, 71); }

#admin-sidebar {
	background-color:#141;
	min-height: calc(100vh - 51px);
}

.container-fluid {
	padding:0;
}

.navbar {
	margin-bottom:0;
}

.col {
	padding:0;
}

#side_buttons {
	padding: 0 2px;
	font-size:1.5em;

	a:hover {
		background-color:#7d7;
	}
}