.trash { color:rgb(209, 91, 71); }

#admin-container {
	#admin-sidebar {
		background-color:#141;
		min-height: calc(100vh - 51px);
	}
}

.container-fluid {
	padding:0;
}

.navbar {
	margin-bottom:0;
}

.col {
	padding:0;
}

#side_buttons {
	padding: 0 2px;
	font-size:1.5em;

	a:hover {
		background-color:#7d7;
	}
}

.table-centered {
	margin: 0 auto;
	float:none;
	text-align:center;
	font-size: 1.4em;

	#header {
		font-size:1.8em;
	}

	.inlabel {
		text-align:right;
	}

	.intext {
		text-align:left;
	}

	.row {
		margin: 5px 0;
	}

	textarea {
		width:80%;
		height: 120px;
		resize:none;
		font-size:0.8em;
	}

	h3 {
		margin-top:0;
	}

	.pending {
		background-color: #f86;
	}

	#footer {
		padding-top:15px;
	}

}