<div ng-include="'components/navbar/navbar.html'"></div>

<div class="row">
    <div class='col-md-1 col-lg-1'></div>
    <div class='col-md-11 col-lg-11'>
		<h1>Edit {{skill_edit_ctrl.skill.display_word}} Page</h1>
		<p><a href='#' ui-sref='skill({type:skill_edit_ctrl.skill._id})'>View Page</a></p>
    </div>
</div>
<div class="row">
    <div class='col-md-1 col-lg-1'></div>
    <div class='col-md-2 col-lg-2 edit_left_col'>
		<label>Quick Description</label>
    </div>
    <div class='col-md-9 col-lg-9 edit_right_col'>
		<input type='text' ng-model='skill_edit_ctrl.blurb' />
	</div>
</div>
<div class="row" id="edit_skill_overview">
    <div class='col-md-1 col-lg-1'></div>
    <div class='col-md-2 col-lg-2 edit_left_col'>
		<label>Skill Overview</label>
    </div>
    <div class='col-md-9 col-lg-9 edit_right_col'>
		<textarea id='skill_overview_text' ng-model='skill_edit_ctrl.overview'></textarea>
	</div>
</div>
<div class="row" id="edit_quick_tips">
    <div class='col-md-1 col-lg-1'></div>
    <div class='col-md-2 col-lg-2 edit_left_col'>
		<label>Quick Tips</label>
    </div>
    <div class='col-md-9 col-lg-9 edit_right_col'>
		<input type='text' ng-model='skill_edit_ctrl.new_tip' />
		<button class='btn btn-primary btn-xs' ng-click='skill_edit_ctrl.addTip()'>Add Tip</button>
        <br><br>
        <ul>
            <li ng-repeat='tip in skill_edit_ctrl.tips'>
                <span>{{tip}}</span><a ng-click='skill_edit_ctrl.removeTip(tip)'>X</a>
            </li>
        </ul>
        <div class='row'>
            <button type='submit' class='btn btn-success' ng-click='skill_edit_ctrl.saveChanges()'>Save Changes</button>
        </div>
    </div>
</div>