<div ng-include="'components/navbar/navbar.html'"></div>

<div class="row">
    <div class='col-md-1 col-lg-1'></div>
    <div class='col-md-11 col-lg-11'>
		<h1>Edit {{skill_edit_ctrl.skill.display_word}} Page</h1>
		<p><a href='#' ui-sref='skill({type:skill_edit_ctrl.skill._id})'>View Page</a></p>
    </div>
</div>
<div class="row">
    <div class='col-md-1 col-lg-1'></div>
    <div class='col-md-2 col-lg-2 edit_left_col'>
		<label>Quick Description</label>
    </div>
    <div class='col-md-9 col-lg-9 edit_right_col'>
		<input id="blurb_input" type='text' maxlength='60' ng-model='skill_edit_ctrl.blurb' />
        <p class='char_count'>Characters remaining: {{60-skill_edit_ctrl.blurb.length}}</p>
	</div>
</div>
<div class="row" id="edit_skill_overview">
    <div class='col-md-1 col-lg-1'></div>
    <div class='col-md-2 col-lg-2 edit_left_col'>
		<label>Skill Overview</label>
    </div>
    <div class='col-md-9 col-lg-9 edit_right_col'>
		<textarea id='skill_overview_text' maxlength='1500' ng-model='skill_edit_ctrl.overview'></textarea>
        <p class='char_count'>Characters remaining: {{1500-skill_edit_ctrl.overview.length}}</p>
	</div>
</div>
<div class="row" id="edit_quick_tips">
    <div class='col-md-1 col-lg-1'></div>
    <div class='col-md-2 col-lg-2 edit_left_col'>
		<label>Quick Tips</label>
    </div>
    <div class='col-md-9 col-lg-9 edit_right_col'>
        <textarea id='new_tip_text' maxlength='160' ng-model='skill_edit_ctrl.new_tip'></textarea>
        <p class='char_count'>Characters remaining: {{160-skill_edit_ctrl.new_tip.length}}</p>
		<button class='btn btn-primary btn-sm' ng-click='skill_edit_ctrl.addTip()'>Add Tip</button>
        <br><br>
        <ul>
            <li ng-repeat='tip in skill_edit_ctrl.tips'>
                <div class='row'>
                    <div class='col-md-11 col-lg-11'>{{tip}}</div>
                    <div class='col-md-1 col-lg-1'>
                        <a ng-click='skill_edit_ctrl.removeTip(tip)'>X</a>
                    </div>
                </div>
            </li>
        </ul>
        <div class='row'>
            <button type='submit' class='btn btn-success' ng-click='skill_edit_ctrl.saveChanges()'>Save Changes</button>
        </div>
    </div>
</div>