.edit_left_col {
	text-align:right;
	font-size:1.2em;
}

.edit_right_col {
	text-align:left;
	font-size:1.2em;
}

.char_count {
	font-size: 0.8em;
	font-style: italic;
}

#blurb_input {
	width:600px;
}

textarea {
	resize: none;
	width: 600px;
	height: 160px;
}

#new_tip_text {
	height: 80px;
}

#edit_skill_overview {
	padding-top:20px;
}

#edit_quick_tips {
	

	input {
		width:600px;
	}

	ul {
		list-style:none;
		padding:0;
	}

	li {
		background-color: #ADE1F0;
		border-radius: 3px;
		text-align: left;
		padding: 5px;
		width: 600px;
		margin-left: 1px;
		margin-bottom: 1px;
		border-style:solid;
		border-width:1px;
		border-color:black;

		a{
			font-weight:900;
			color:#7A070D;
			float:right;
			cursor:pointer;
		}
	}

}