$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
$fa-font-path: "/bower_components/font-awesome/fonts";

@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';
@import 'font-awesome/scss/font-awesome';

/**
 * App-wide Styles
 */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

// Component styles are injected through grunt
// injector
@import 'account/login/login.scss';
@import 'account/onboard/onboard.responsive.scss';
@import 'account/onboard/onboard.scss';
@import 'account/profile/profile.scss';
@import 'admin/admin.scss';
@import 'admin/templates/admin-scrape/admin-scrape.scss';
@import 'main/main.scss';
@import 'skill/skill-edit/skill_edit.scss';
@import 'skill/skill.scss';
@import 'modal/modal.scss';
@import 'recipe-list/recipe-list.scss';
// endinjector