<div ng-include="'components/navbar/navbar.html'"></div>


<div class="container">
  <div class="row logo_row">
    <img src="assets/images/veggie-heart.jpg">
  </div>
  <div class="row search_row">
    <div class='col-md-1 col-lg-1'></div>
    <div class='col-md-10 col-lg-10'>
      <input id='search_box_main' type="text" ng-model="search_text" />
      <a href="#" class="btn btn-primary" ng-click='getRecipes(search_text)'>Get Recipes</a>
    </div>
    <div class='col-md-1 col-lg-1'></div>
  </div>
  <div class='row' id="message_row">
    {{message}}
  </div>
  <div class="row">
    <div class='col-md-1 col-lg-1'></div>
    <div class="col-lg-10">
      
      <div ng-include="'components/recipe-list/recipe-list.html'"></div>

    </div>
    <div class='col-md-1 col-lg-1'></div>
  </div>
</div>

<footer class="footer">
  <div class="container">
      <p>Cook App |
         <a href="https://github.com/jjacobskind">Jeremy Jacobskind</a>
       </p>
  </div>
</footer>
