#recipe_skill_box {

	li {
		background-color: #ADE1F0;
		border-radius: 3px;
		text-align: left;
		padding: 5px;
		display: inline-block;
		margin-left: 1px;
		margin-bottom: 1px;
		border-style:solid;
		border-width:1px;
		border-color:black;
		cursor: pointer;

		&:hover {
			background-color:red;
		}

		.selected {
			background-color: green;
		}
	}

}

#recipe_view_table {

	h3 {
		padding-left: 35px;
	}
	
	.left-col {
		padding-left:30px;
	}

	#skill_overview {
		padding-left:20px;
	}
}