#onboard_header{
	text-align:center;

	input {
		font-size:2em;
	}
}

#selected_skills {

	width:80%;
	margin-left:auto;
	margin-right:auto;

	ul {
		list-style:none;
		padding:0;
	}

	li {
		background-color: #ADE1F0;
		border-radius: 3px;
		text-align: left;
		padding: 5px;
		display: inline-block;
		margin-left: 1px;
		margin-bottom: 1px;
		border-style:solid;
		border-width:1px;
		border-color:black;

		a{
			font-weight:900;
			color:#7A070D;
		}
	}
}
hr {
	width:90%;
}

#onboard_skills {


	.cell {
		background-color: #ddd;
		border-radius: 3px;
		margin:2px;
		height:80px;
		min-width:200px;

		.skill_blurb {
			font-size:0.6em;
		}

		.skill_name {
			padding-top:0;
			margin-bottom: 3px;
		}

		.btn-col {
			padding:0;
		}

		.row {
			margin:2px;
		}
	}

}

@import 'onboard.responsive.scss';