<div ng-include="'components/navbar/navbar.html'"></div>
<div id='onboard_header'>
	<h1>Welcome, {{user.name}}</h1>
	<p>Please select a few cooking skills that you are familiar with or want to learn.</p>
	<br>
	<input type='text' ng-model='skill' ng-change='autoComplete()' />
</div>
<div id='selected_skills'>
	<div class='row'>
		<h3>Selected Skills</h3>
		<ul>
			<li ng-repeat='skill in selected_skills | orderBy: "display_word"'>
				<span class='selected_item'>{{skill.display_word}} </span><a href="#" ng-click='toggleSkill(skill)'>X</a>
			</li>
		</ul>
	</div>
</div>
<br>
<hr>
<div id="onboard_skills" class='table-centered col-sm-10 col-md-10 col-lg-10'>
	<div class='row' ng-switch='!!suggestions.length'>
		<div class='col-sm-12 col-md-12 col-lg-12' ng-switch-when='true'>
			<div class='cell col-sm-2 col-md-2 col-lg-2' ng-repeat='suggestion in suggestions | orderBy: "display_word"'>
				<div class='row'>
					<div class='btn-col col-sm-6 col-md-6 col-lg-6' ng-switch='!!suggestion.picked'>
						<a ng-switch-when='false' href='#' ng-click='toggleSkill(suggestion)' class='btn btn-sm btn-primary'>Add</a>
						<a ng-switch-when='true' href='#' ng-click='toggleSkill(suggestion)' class='btn btn-sm btn-danger'>Remove</a>
					</div>
					<p class='skill_name'>{{suggestion.display_word}}</p>
				</div>
				<div class='skill_blurb row'>
					<p>Short, but descriptive blurb about this skill.</p>
				</div>
			</div>
		</div>
		<div ng-switch-when='false'>
			<p>Sorry, '{{skill}}' is not currently a tag. Please <a href="#" ng-click='suggestSkill(skill)'>click here</a> if you would like us to add this tag.</p>
		</div>
	</div>
</div>