.profile_table {
	text-align: left;
}

#profile_menu {
	font-size: 0.8em;
	padding: 0;
}

#skill_list {
	list-style:none;
}

.recipe-list {
	margin: 0 auto;
}

#profile_header {
	text-align:left;
}

.subhead {
	font-size:1.5em;
}

.edit_link {
	padding-left:10px;
	font-size: 0.7em;
}

#skill-col {

	li {
		text-align:center;
	}
}

#profile_pic {
	width:200px;
	display: block;
	margin-left:auto;
	margin-right:auto;
}
