<div ng-include="'components/navbar/navbar.html'"></div>

<div class='table-centered col-sm-8 col-md-8 col-lg-8 profile_table'>
	<div class='row' id="profile_header">
		<h1>{{profile.user.name}}'s Profile</h1>
	</div>
	<div class='row'>
		<div class=' cell col-sm-2 col-md-2 col-lg-2'>
			<span class='subhead'>Picture</span>
		</div>
		<div class='cell col-sm-6 col-md-6 col-lg-6'></div>
		<div class='cell col-sm-3 col-md-3 col-lg-3' id='skill-col'>
			<span class='subhead'>Top Skills</span><a href="#" class='edit_link' ui-sref="onboard">Edit</a>
			<ul id='skill_list'>
				<li ng-repeat='skill in profile.user.skills | orderBy: ["skill_level", "skill_tag.display_word"]'>
					<a href='#' ui-sref='skill({type:skill.skill_tag._id})'>{{skill.skill_tag.display_word}}</a>
				</li>
			</ul>
		</div>
	</div>
	<div class='row'>
		<div class='cell col-sm-3 col-md-3 col-lg-3'>
			<ul id="profile_menu" class="nav nav-tabs nav-stacked col-sm-12 col-md-12 col-lg-12" ng-repeat="item in profile.menu">
				<li>
					<a href="#" ui-sref="profile.{{item.state}}">{{item.title}}</a>
				</li>
			</ul>
		</div>
		<div class='cell col-sm-9 col-md-9 col-lg-9' ui-view>
			<h2>Content</h2>
		</div>
	</div>
</div>